<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <style>
   
    body{

      background-image: linear-gradient(90deg, #f77062 0%, #fe5196 100%);


    }






    .container {
      max-width: 500px;
      margin: 50px auto;
      background-color:#6DA9E4;
    }

    .form-control:focus {
      box-shadow: none;
    }
  </style>

</head>